<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto">
            <h3>Usuario logeado: {{session}}</h3>
            <h4>LISTA DE USUARIOS REGISTRADOS</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">NOMBRE Y APELLIDO</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">NIVEL DE USUARIO</th>
                        <th scope="col">CAMBIAR ROLE</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.full_name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.role}}</td>
                        <td>
                            <select name="" id="{{this._id}}" onchange="cambiarRole(this.id)">
                                <option value="user">User</option>
                                <option value="admin">Admin</option>
                                <option value="premium">Premium</option>
                            </select>
                        </td>
                        <td><button id="{{this._id}}" onclick="eliminarUsuario(this.id)">Eliminar Usuario</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="/js/admin.js"></script>