<div class="container">
    <div class="row justify-content-center align-items-center mt-3 mb-4">
        <div class="col-auto">
            <form method="get" action="/logout">
            <h1>Bienvenido {{user.full_name}}</h1>
            <p>Nivel de usuario: {{user.role}}</p>
            <p>Email: {{user.email}}</p>
            <p>Edad: {{user.age}}</p>
            <p>Eres admin ? Tienes acceso a la lista de usuarios registrados: <a href="/api/users/usersView">Aquí</a>
            </p>
            <button type="submit" class="btn btn-primary w-100">Cerrar sesión</button>
            </form>
        </div>

        <div class="col-auto">
            <a href="/api/users/documents/premium" type="button" class="btn btn-success w-100">Actualizar a nivel
                premium</a>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <h3>Lista de productos</h3>
            <div>
                <ul>
                    {{#each products}}
                    <li>{{this.nombre}} <a href="/api/products/detail/{{this._id}}">Detalles</a></li>
                    {{/each}}
                </ul>
            </div>
            <a href="/api/cart/renderCart" type="button" class="btn btn-success w-100">IR AL CARRITO</a>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>